@import "../global";

#docs {
    .content {
        width: calc(100% - 350px);
        margin-top: 65px;
        margin-bottom: 85px;
        float: right;

        @media screen and (max-width: 1100px) {
            width: 100%;
        }

        .type-group {
            display: inline-flex;
            flex-wrap: wrap;
            align-items: center;
            white-space: pre-wrap;
            margin: 0px;

            p {
                margin: 0px;
            }
        }

        .type-link {
            color: #006eff;
            text-decoration: none;
            cursor: pointer;
        }

        .title {
            display: flex;
            flex-wrap: nowrap;
            align-items: center;
            padding: 0px 100px;
            margin-top: 65px;

            .title-text {
                margin-left: 25px;

                .text {
                    color: var(--accent-color);
                    font-family: "Apercu Pro Bold";
                    font-size: 28px;
                    margin: 0px;
                    margin-top: 10px;
                }

                .extends {
                    display: flex;
                    flex-wrap: wrap;
                    align-items: center;
                    color: white;
                    font-family: "Apercu Pro";
                    font-size: 18px;
                    margin: 0px;

                    span {
                        margin-right: 5px;
                    }
                }
            }
        }

        .divider {
            width: calc(100% - 130px);
            height: 2px;
            background-color: var(--background-color);
            margin: 0px 65px;
            margin-top: 35px;
        }

        .table-of-contents {
            display: flex;
            width: 100%;
            flex-wrap: wrap;
            justify-content: center;
            @include center;

            .section {
                width: 350px;
                margin: 0px 35px;
                margin-top: 65px;

                .name {
                    background-color: var(--background-color);
                    border-top-left-radius: 10px;
                    border-top-right-radius: 10px;
                    padding: 10px 25px;
                    cursor: pointer;

                    .text {
                        display: inline-block;
                        color: var(--accent-color);
                        font-family: "Apercu Pro";
                        font-size: 22px;
                        margin: auto;
                        @include center;
                    }
                }

                .section-content {
                    background-color: var(--background-color-dark);
                    border-bottom-left-radius: 10px;
                    border-bottom-right-radius: 10px;
                    padding: 10px;

                    .section-item {
                        color: white;
                        font-family: "Apercu Pro";
                        font-size: 20px;
                        padding: 10px 25px;
                        margin: auto;
                        cursor: pointer;
                    }
                }
            }
        }

        .class-section {
            margin: 0px 65px;
            margin-top: 65px;

            .name {
                color: var(--accent-color);
                font-family: "Apercu Pro Bold";
                font-size: 28px;
            }

            .section-item-name {
                display: inline-block;
                color: white;
                font-family: "Apercu Pro";
                font-size: 22px;
                margin: 0px;
                margin-right: 15px;
                cursor: pointer;

                span {
                    color: var(--text-color-light);

                    &.name-parameter {
                        color: var(--text-color-lighter);
                    }
                }
            }

            .section-content {
                margin-left: 20px;

                .comment {
                    p {
                        color: white;
                        font-family: "Apercu Pro";
                        font-size: 18px;
                        white-space: pre-wrap;
                        margin: 0px;
                        margin-top: 10px;
                    }

                    &.small p {
                        margin-top: 0px;
                    }

                    code {
                        font-family: "Apercu Pro Mono";
                        font-size: 15px;
                        background-color: #7c72eb45;
                        border-radius: 5px;
                        padding: 2px 7px;
                    }
                }
            }

            .property {
                margin-top: 50px;

                .property-name {
                    display: flex;
                    flex-wrap: wrap;
                    align-items: center;

                    .type {
                        color: white;
                        font-family: "Apercu Pro";
                        font-size: 18px;
                        margin: 0px;
                    }
                }
            }

            .method {
                margin-top: 50px;

                .parameters {
                    margin: 25px 0px;

                    .parameter {
                        margin: 5px 0px;

                        .parameter-title {
                            display: flex;
                            flex-wrap: wrap;
                            align-items: center;

                            .parameter-name {
                                color: var(--text-color-lighter);
                                font-family: "Apercu Pro";
                                font-size: 18px;
                                margin: 0px;
                            }

                            .type {
                                color: white;
                                font-family: "Apercu Pro";
                                font-size: 18px;
                                margin: 0px 15px;
                            }
                        }
                    }
                }

                .returns {
                    color: white;
                    font-family: "Apercu Pro";
                    font-size: 18px;
                    margin: 0px;

                    .highlight {
                        color: var(--text-color-light);
                    }
                }
            }
        }
    }
}